checkbox(
  data-l10n-id='better-bibtex_preferences_export_biblatex_ascii'
  preference='extensions.zotero.translators.better-bibtex.asciiBibLaTeX'
  native='true'
)

checkbox(
  data-l10n-id='better-bibtex_preferences_export_biblatex_extended-name-format'
  preference='extensions.zotero.translators.better-bibtex.biblatexExtendedNameFormat'
  native='true'
)
checkbox(
  data-l10n-id='better-bibtex_preferences_export_biblatex_use-prefix'
  preference='extensions.zotero.translators.better-bibtex.biblatexUsePrefix'
  native='true'
)

checkbox(
  data-l10n-id='better-bibtex_preferences_export_biblatex_biblatex-extract-eprint'
  preference='extensions.zotero.translators.better-bibtex.biblatexExtractEprint'
  native='true'
)
