checkbox(
  data-l10n-id='better-bibtex_preferences_export_bibtex_ascii'
  preference='extensions.zotero.translators.better-bibtex.asciiBibTeX'
  native='true'
)

checkbox(
  data-l10n-id='better-bibtex_preferences_export_fields_bibtex-particle-no-op'
  preference='extensions.zotero.translators.better-bibtex.bibtexParticleNoOp'
  native='true'
)

checkbox(
  data-l10n-id='better-bibtex_preferences_export_fields_bibtex-edition-ordinal'
  preference='extensions.zotero.translators.better-bibtex.bibtexEditionOrdinal'
  native='true'
)

html:div
  label(bbt:preference='extensions.zotero.translators.better-bibtex.bibtexURL', data-l10n-id='better-bibtex_preferences_export_bibtex_urls')
  img(src='chrome://zotero-better-bibtex/content/skin/attention.svg', style='width:16px;height:16px', tooltip='bbt-tooltip-bibtexURL')

menulist(native='true', preference='extensions.zotero.translators.better-bibtex.bibtexURL')
  menupopup
    menuitem(data-l10n-id='better-bibtex_preferences_export_bibtex_urls_off', value='off')
    menuitem(data-l10n-id='better-bibtex_preferences_export_bibtex_urls_note', value='note')
    menuitem(data-l10n-id='better-bibtex_preferences_export_bibtex_urls_note-url-ish', value='note-url-ish')
    menuitem(data-l10n-id='better-bibtex_preferences_export_bibtex_urls_url', value='url')
    menuitem(data-l10n-id='better-bibtex_preferences_export_bibtex_urls_url-ish', value='url-ish').

