checkbox(data-l10n-id='better-bibtex_preferences_auto-abbrev', native='true', preference='extensions.zotero.translators.better-bibtex.autoAbbrev')
html:div
  label(bbt:preference='extensions.zotero.translators.better-bibtex.exportSort', data-l10n-id='better-bibtex_preferences_export_sort')
  menulist(native='true', preference='extensions.zotero.translators.better-bibtex.exportSort')
    menupopup
      menuitem(data-l10n-id='better-bibtex_preferences_export_sort_off', value='off')
      menuitem(data-l10n-id='better-bibtex_preferences_export_sort_id', value='id')
      menuitem(data-l10n-id='better-bibtex_preferences_export_sort_citekey', value='citekey').

checkbox(
  data-l10n-id='better-bibtex_preferences_export_quality-report'
  preference='extensions.zotero.translators.better-bibtex.qualityReport'
  native='true'
)

checkbox(
  data-l10n-id='better-bibtex_preferences_export_automatic-tags'
  preference='extensions.zotero.translators.better-bibtex.automaticTags'
  native='true'
)

html:div
  checkbox(
    data-l10n-id='better-bibtex_preferences_advanced_export_title-case'
    preference='extensions.zotero.translators.better-bibtex.exportTitleCase'
    native='true'
  )

  img(src='chrome://zotero-better-bibtex/content/skin/attention.svg', style='width:16px;height:16px', tooltip='bbt-tooltip-exportTitleCase')

html:div
  checkbox(
    data-l10n-id='better-bibtex_preferences_advanced_export_brace-protection'
    preference='extensions.zotero.translators.better-bibtex.exportBraceProtection'
    native='true'
  )
  img(src='chrome://zotero-better-bibtex/content/skin/attention.svg', style='width:16px;height:16px', tooltip='bbt-tooltip-exportBraceProtection')

groupbox.bbt-prefs-subsection
  label
    html:h2 Cache

  checkbox(
    data-l10n-id='better-bibtex_preferences_advanced_export_workers_cache'
    preference='extensions.zotero.translators.better-bibtex.cache'
    native='true'
  )
  button(data-l10n-id='better-bibtex_preferences_reset-cache', oncommand='Zotero.BetterBibTeX.PrefPane.cacheReset()')
  checkbox(
    data-l10n-id='better-bibtex_preferences_advanced_export_reset-cache'
    preference='extensions.zotero.translators.better-bibtex.cacheDelete'
    readonly
    native='true'
  )
