textbox#bbt-postscript(
  rows='10'
  multiline='true'
  preference='extensions.zotero.translators.better-bibtex.postscript'
  onblur='Zotero.BetterBibTeX.PrefPane.checkPostscript();'
  oninput='Zotero.BetterBibTeX.PrefPane.checkPostscript();'
  onkeypress='setTimeout(function() { Zotero.BetterBibTeX.PrefPane.checkPostscript() }, 1);'
)
textbox#bbt-cache-warn-postscript.plain(
  class='bbt-prefs-emph'
  rows='2'
  multiline='true'
  readonly='true'
  value='&better-bibtex_preferences_postscript_warn.value;'
)
