html:textarea#bbt-postscript(
  rows='10'
  cols='80'
  onblur='Zotero.BetterBibTeX.PrefPane.checkPostscript();'
  oninput='Zotero.BetterBibTeX.PrefPane.checkPostscript();'
  onkeypress='setTimeout(function() { Zotero.BetterBibTeX.PrefPane.checkPostscript() }, 1);'
  preference='extensions.zotero.translators.better-bibtex.postscript'
)

html:textarea.plain.bbt-prefs-emph#bbt-cache-warn-postscript(
  rows='2'
  cols='80'
  data-l10n-id='better-bibtex_preferences_postscript_warn'
  readonly
  value
)
