groupbox
  caption &better-bibtex_preferences_export_quick-copy_explanation;
  html:div
    label(bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyMode') &better-bibtex_preferences_export_quick-copy_format;
    menulist#bbt-preferences-quickCopyMode(
        preference='extensions.zotero.translators.better-bibtex.quickCopyMode'
        preference-editable='true'
        oncommand="document.getElementById('bbt-quick-copy-details').selectedIndex = this.selectedIndex"
    )
      menupopup
        menuitem(value='latex' label='&better-bibtex_preferences_export_quick-copy_latex.label;')
        menuitem(value='citekeys' label='&better-bibtex_preferences_export_quick-copy_citekeys.label;')
        menuitem(value='pandoc' label='&better-bibtex_preferences_export_quick-copy_pandoc.label;')
        menuitem(value='orgmode' label='&better-bibtex_preferences_export_quick-copy_org-mode.label;')
        menuitem(value='orgRef' label='&better-bibtex_preferences_export_quick-copy_org-ref.label;')
        menuitem(value='orgRef3' label='&better-bibtex_preferences_export_quick-copy_org-ref3.label;')
        menuitem(value='rtfScan' label='&better-bibtex_preferences_export_quick-copy_rtf-scan.label;')
        menuitem(value='roamCiteKey' label='&better-bibtex_preferences_export_quick-copy_roam-cite-key.label;')
        menuitem(value='gitbook' label='GitBook')
        menuitem(value='selectlink' label='&better-bibtex_preferences_export_quick-copy_select-link.label;')
        menuitem(value='eta' label='&better-bibtex_preferences_export_quick-copy_eta-template.label;')

  deck#bbt-quick-copy-details
    html:div#bbt-preferences-quickcopy-latex
      label(bbt:preference='extensions.zotero.translators.better-bibtex.citeCommand') &better-bibtex_preferences_export_quick-copy_latex_command;
      textbox(size='10' preference='extensions.zotero.translators.better-bibtex.citeCommand' onchange='Zotero.BetterBibTeX.PrefPane.refresh();' onkeypress='Zotero.setTimeout(function() { Zotero.BetterBibTeX.PrefPane.refresh() }, 1);')

    html:div#bbt-preferences-quickcopy-citekeys

    html:div#bbt-preferences-quickcopy-pandoc
      checkbox(preference='extensions.zotero.translators.better-bibtex.quickCopyPandocBrackets' label='&better-bibtex_preferences_export_quick-copy_pandoc_brackets.label;')

    html:div#bbt-preferences-quickcopy-orgmode
      label(bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyOrgMode') &better-bibtex_preferences_export_quick-copy_org-mode;
      menulist(preference='extensions.zotero.translators.better-bibtex.quickCopyOrgMode')
        menupopup
          menuitem(value='zotero' label='&better-bibtex_preferences_export_quick-copy_org-mode_zotero.label;')
          menuitem(value='citationkey' label='&better-bibtex_preferences_export_quick-copy_org-mode_citekey.label;')

    html:div#bbt-preferences-quickcopy-orgRef

    html:div#bbt-preferences-quickcopy-orgRef3

    html:div#bbt-preferences-quickcopy-rtfScan

    html:div#bbt-preferences-quickcopy-roamCiteKey

    html:div#bbt-preferences-quickcopy-gitbook

    html:div#bbt-preferences-quickcopy-selectLink
      label(bbt:preference='extensions.zotero.translators.better-bibtex.quickCopySelectLink') &better-bibtex_preferences_export_quick-copy_select-link;
      menulist(preference='extensions.zotero.translators.better-bibtex.quickCopySelectLink')
        menupopup
          menuitem(value='zotero' label='&better-bibtex_preferences_export_quick-copy_select-link_zotero.label;')
          menuitem(value='citationkey' label='&better-bibtex_preferences_export_quick-copy_select-link_citekey.label;')

    html:div#bbt-preferences-quickcopy-eta(style='display: grid; grid-template-columns: auto;')
      label.text-link(
        onclick='Zotero.launchURL("https://retorque.re/zotero-better-bibtex/installation/preferences/export/#quick-copydrag-and-drop-citations")'
        bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyEta'
      ) &better-bibtex_preferences_export_quick-copy_eta-template;
      textbox(
        preference='extensions.zotero.translators.better-bibtex.quickCopyEta'
        flex=1
        rows=20
        size=80
        multiline='true'
      )

script.
  window.addEventListener('load', function() {
    var qcm = Zotero.Prefs.get('translators.better-bibtex.quickCopyMode')
    var selectedIndex = Array.from(document.querySelector('#bbt-preferences-quickCopyMode menupopup').children).findIndex(option => option.value === qcm)
    dump(`bbt-quick-copy-details: ${qcm} = ${selectedIndex}\n`)
    document.getElementById("bbt-quick-copy-details").selectedIndex = selectedIndex
  })
