groupbox.bbt-prefs-subsection
  label
    html:h2(data-l10n-id='better-bibtex_preferences_export_quick-copy_explanation')
  html:div
    label(bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyMode', data-l10n-id='better-bibtex_preferences_export_quick-copy_format')
    menulist#bbt-preferences-quickcopy(native='true', preference='extensions.zotero.translators.better-bibtex.quickCopyMode', preference-editable='true')
      menupopup
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_latex', value='latex')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_citekeys', value='citekeys')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_eta-template', value='eta')
        menuitem(label='GitBook', value='gitbook')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_org-ref', value='orgRef')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_org-ref3', value='orgRef3')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_org-mode_cite', value='orgcite')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_org-mode', value='orgmode')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_pandoc', value='pandoc')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_roam-cite-key', value='roamCiteKey')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_rtf-scan', value='rtfScan')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_select-link', value='selectlink')
        menuitem(label='Jupyter notebook', value='jupyter')
        menuitem(label='Jekyll cite', value='jekyll').


  html:div.bbt-preferences-quickcopy-details#bbt-preferences-quickcopy-details-latex
    label(
      bbt:preference='extensions.zotero.translators.better-bibtex.citeCommand'
      data-l10n-id='better-bibtex_preferences_export_quick-copy_latex_command'
    )
    html:input(preference='extensions.zotero.translators.better-bibtex.citeCommand', size='10', type='text')

  html:div.bbt-preferences-quickcopy-details#bbt-preferences-quickcopy-details-pandoc
    checkbox(
      data-l10n-id='better-bibtex_preferences_export_quick-copy_pandoc_brackets'
      native='true'
      preference='extensions.zotero.translators.better-bibtex.quickCopyPandocBrackets'
    )

  html:div.bbt-preferences-quickcopy-details#bbt-preferences-quickcopy-details-orgmode
    label(
      bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyOrgMode'
      data-l10n-id='better-bibtex_preferences_export_quick-copy_org-mode'
    )
    menulist(native='true', preference='extensions.zotero.translators.better-bibtex.quickCopyOrgMode')
      menupopup
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_org-mode_zotero', value='zotero')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_org-mode_citekey', value='citationkey').

  html:div.bbt-preferences-quickcopy-details#bbt-preferences-quickcopy-details-selectlink
    label(
      bbt:preference='extensions.zotero.translators.better-bibtex.quickCopySelectLink'
      data-l10n-id='better-bibtex_preferences_export_quick-copy_select-link'
    )
    menulist(native='true', preference='extensions.zotero.translators.better-bibtex.quickCopySelectLink')
      menupopup
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_select-link_zotero', value='zotero')
        menuitem(data-l10n-id='better-bibtex_preferences_export_quick-copy_select-link_citekey', value='citationkey').

  html:div.bbt-preferences-quickcopy-details.bbt-prefs-1col#bbt-preferences-quickcopy-details-eta
    label.text-link(
      bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyEta'
      data-l10n-id='better-bibtex_preferences_export_quick-copy_eta-template'
      onclick='Zotero.launchURL("https://retorque.re/zotero-better-bibtex/installation/preferences/export/#eta-template")'
    )
    html:textarea(cols='80', preference='extensions.zotero.translators.better-bibtex.quickCopyEta', rows='20')
