label(bbt:preference="pref-better-bibtex-citekeyFormat") &better-bibtex.Preferences.citekey.format;
textbox#id-better-bibtex-preferences-citekeyFormat(
  size='50'
  onfocus="bbt_prefpane.getCitekeyFormat(event.target);"
  onblur="bbt_prefpane.saveCitekeyFormat(event.target);"
  oninput="bbt_prefpane.checkCitekeyFormat(event.target);"
  onkeypress="Zotero.setTimeout(function() { bbt_prefpane.checkCitekeyFormat(event.target) }, 1);"
)
label &better-bibtex.FirstRun.citekeyFormat.explanation.bbt.citekeyUpdate;
checkbox(preference="pref-better-bibtex-citekeyFold" label="&better-bibtex.Preferences.citekey.fold;")
checkbox(preference="pref-better-bibtex-citekeySearch" label="&better-bibtex.Preferences.citekey.search;")

groupbox(style='margin-bottom: 10px')
  caption(label="&better-bibtex.Preferences.citekey.uniqueness;")
  // <description>&better-bibtex.Preferences.citekey.uniqueness.pin.description;</description>
  hbox
    label(bbt:preference="pref-better-bibtex-keyScope") &better-bibtex.Preferences.citekey.uniqueness.scope;
    menulist(preference="pref-better-bibtex-keyScope")
      menupopup
        menuitem(label="&better-bibtex.Preferences.citekey.uniqueness.scope.global;" value="global")
        menuitem(label="&better-bibtex.Preferences.citekey.uniqueness.scope.library;" value="library")
  hbox
    label(bbt:preference="pref-better-bibtex-keyConflictPolicy") &better-bibtex.Preferences.citekey.uniqueness.conflict;
    menulist(preference="pref-better-bibtex-keyConflictPolicy")
      menupopup
        menuitem(label="&better-bibtex.Preferences.citekey.uniqueness.conflict.change;" value="change")
        menuitem(label="&better-bibtex.Preferences.citekey.uniqueness.conflict.keep;" value="keep")
