hbox
  label(bbt:preference="pref-better-bibtex-citekeyFormat") &better-bibtex.Preferences.citekey.format;
  textbox#id-better-bibtex-preferences-citekeyFormat(
    flex='1'
    onfocus="Zotero.BetterBibTeX.PrefPane.getCitekeyFormat(event.target);"
    onblur="Zotero.BetterBibTeX.PrefPane.saveCitekeyFormat(event.target);"
    oninput="Zotero.BetterBibTeX.PrefPane.checkCitekeyFormat(event.target);"
    onkeypress="Zotero.setTimeout(function() { Zotero.BetterBibTeX.PrefPane.checkCitekeyFormat(event.target) }, 1);"
  )
checkbox(preference="pref-better-bibtex-citekeyFold" label="&better-bibtex.Preferences.citekey.fold;")
checkbox(preference="pref-better-bibtex-citekeySearch" label="&better-bibtex.Preferences.citekey.search;")

groupbox(style='margin-bottom: 10px')
  caption(label="&better-bibtex.Preferences.citekey.uniqueness;")
  // <description>&better-bibtex.Preferences.citekey.uniqueness.pin.description;</description>
  hbox
    label(bbt:preference="pref-better-bibtex-keyScope") &better-bibtex.Preferences.citekey.uniqueness.scope;
    menulist(preference="pref-better-bibtex-keyScope")
      menupopup
        menuitem(label="&better-bibtex.Preferences.citekey.uniqueness.scope.global;" value="global")
        menuitem(label="&better-bibtex.Preferences.citekey.uniqueness.scope.library;" value="library")
  hbox
    label(bbt:preference="pref-better-bibtex-keyConflictPolicy") &better-bibtex.Preferences.citekey.uniqueness.conflict;
    menulist(preference="pref-better-bibtex-keyConflictPolicy")
      menupopup
        menuitem(label="&better-bibtex.Preferences.citekey.uniqueness.conflict.change;" value="change")
        menuitem(label="&better-bibtex.Preferences.citekey.uniqueness.conflict.keep;" value="keep")

groupbox
  caption(label="&better-bibtex.Preferences.advanced.ideographs;")
  checkbox(preference="pref-better-bibtex-kuroshiro" label="&better-bibtex.Preferences.advanced.ideographs.kuroshiro;")
  checkbox(preference="pref-better-bibtex-jieba" label="&better-bibtex.Preferences.advanced.ideographs.jieba;")
hbox
  label(bbt:preference="pref-better-bibtex-warnBulkModify") &better-bibtex.Preferences.bulkWarning;
  textbox(size="5" preference="pref-better-bibtex-warnBulkModify")
hbox
  button#rescan-citekeys.hidden(label="&better-bibtex.Preferences.rescan-citekeys;" oncommand="Zotero.BetterBibTeX.PrefPane.rescanCitekeys()")
