html:div(class='bbt-prefs-1col')
  label(bbt:preference='extensions.zotero.translators.better-bibtex.citekeyFormatEditing') &better-bibtex_preferences_citekey_format;
  html:textarea#bbt-preferences-citekeyFormatEditing(
    preference='extensions.zotero.translators.better-bibtex.citekeyFormatEditing'
    rows=10
    cols=80
  )
  hbox
    button(label="\u27F3" size=3 style='padding: 0px 5px;' oncommand="Zotero.BetterBibTeX.PrefPane.checkCitekeyFormat()")
    label#bbt-citekey-preview(size=80 class='bbt-prefs-preview')
  label#bbt-citekeyFormat-error(
    preference='extensions.zotero.translators.better-bibtex.citekeyFormat'
    rows=2
    size=80
    readonly='true'
    multiline='true'
    class='bbt-prefs-error'
  )
  label#bbt-label-citekeyFormat(bbt:preference="extensions.zotero.translators.better-bibtex.citekeyFormat") &better-bibtex_preferences_citekey_format_installed;
  textbox#bbt-preferences-citekeyFormat(
    preference='extensions.zotero.translators.better-bibtex.citekeyFormat'
    rows=5
    size=80
    readonly='true'
    multiline='true'
  )

  checkbox(preference="extensions.zotero.translators.better-bibtex.citekeyFold" label="&better-bibtex_preferences_citekey_fold.label;")
  checkbox(preference="extensions.zotero.translators.better-bibtex.citekeySearch" label="&better-bibtex_preferences_citekey_search.label;")

  html:div
    label(bbt:preference="extensions.zotero.translators.better-bibtex.autoPinDelay") &better-bibtex_preferences_citekey_auto-pin-delay;
    html:input(type='range' min=0 max=30 preference="extensions.zotero.translators.better-bibtex.autoPinDelay")/
    textbox(preference='extensions.zotero.translators.better-bibtex.autoPinDelay' size=2 rows=1 readonly='true')
    label &better-bibtex_units_seconds;

  groupbox
    caption(label="&better-bibtex_preferences_citekey_uniqueness.label;")
    checkbox(preference="extensions.zotero.translators.better-bibtex.citekeyCaseInsensitive" label="&better-bibtex_preferences_citekey_uniqueness_case.label;")
    html:div
      label(bbt:preference="extensions.zotero.translators.better-bibtex.keyScope") &better-bibtex_preferences_citekey_uniqueness_scope;
      menulist(preference="extensions.zotero.translators.better-bibtex.keyScope")
        menupopup
          menuitem(value='global' label='&better-bibtex_preferences_citekey_uniqueness_scope_global.label;')
          menuitem(value='library' label='&better-bibtex_preferences_citekey_uniqueness_scope_library.label;')
    html:div
      label(bbt:preference="extensions.zotero.translators.better-bibtex.keyConflictPolicy") &better-bibtex_preferences_citekey_uniqueness_conflict;
      menulist(preference="extensions.zotero.translators.better-bibtex.keyConflictPolicy")
        menupopup
          menuitem(value='change' label='&better-bibtex_preferences_citekey_uniqueness_conflict_change.label;')
          menuitem(value='keep' label='&better-bibtex_preferences_citekey_uniqueness_conflict_keep.label;')

  groupbox
    caption(label="&better-bibtex_preferences_advanced_ideographs.label;")
    checkbox(preference="extensions.zotero.translators.better-bibtex.kuroshiro" label="&better-bibtex_preferences_advanced_ideographs_kuroshiro.label;")
    checkbox(preference="extensions.zotero.translators.better-bibtex.jieba" label="&better-bibtex_preferences_advanced_ideographs_jieba.label;")
  html:div
    label(bbt:preference="extensions.zotero.translators.better-bibtex.warnBulkModify") &better-bibtex_preferences_bulk-warning;
    textbox(size="5" preference="extensions.zotero.translators.better-bibtex.warnBulkModify")
