html:div.bbt-prefs-1col
  label(bbt:preference='extensions.zotero.translators.better-bibtex.citekeyFormatEditing', data-l10n-id='better-bibtex_preferences_citekey_format')
  html:textarea#bbt-preferences-citekeyFormatEditing(cols='80', preference='extensions.zotero.translators.better-bibtex.citekeyFormatEditing', rows='10')

  hbox
    button(label='⟳', oncommand='Zotero.BetterBibTeX.PrefPane.checkCitekeyFormat()', size='3', style='padding: 0px 5px;')
    label.bbt-prefs-preview#bbt-citekey-preview(size='80')

  label.bbt-prefs-error#bbt-citekeyFormat-error(
    multiline='true'
    preference='extensions.zotero.translators.better-bibtex.citekeyFormat'
    readonly
    rows='2'
    size='80'
  )
  label#bbt-label-citekeyFormat(
    bbt:preference='extensions.zotero.translators.better-bibtex.citekeyFormat'
    data-l10n-id='better-bibtex_preferences_citekey_format_installed'
  )

  html:textarea#bbt-preferences-citekeyFormat(cols='80', preference='extensions.zotero.translators.better-bibtex.citekeyFormat', readonly, rows='5')

  checkbox(data-l10n-id='better-bibtex_preferences_citekey_fold', native='true', preference='extensions.zotero.translators.better-bibtex.citekeyFold')
  checkbox(data-l10n-id='better-bibtex_preferences_citekey_search', native='true', preference='extensions.zotero.translators.better-bibtex.citekeySearch')

  html:div
    label(bbt:preference='extensions.zotero.translators.better-bibtex.autoPinDelay', data-l10n-id='better-bibtex_preferences_citekey_auto-pin-delay')
    html:input(max='30', min='0', preference='extensions.zotero.translators.better-bibtex.autoPinDelay', type='range')
    html:input(preference='extensions.zotero.translators.better-bibtex.autoPinDelay', readonly, rows='1', size='2', type='text')
    label(data-l10n-id='better-bibtex_units_seconds')

  groupbox.bbt-prefs-subsection
    label
      html:h2(data-l10n-id='better-bibtex_preferences_citekey_uniqueness', label)
    checkbox(
      data-l10n-id='better-bibtex_preferences_citekey_uniqueness_case'
      preference='extensions.zotero.translators.better-bibtex.citekeyCaseInsensitive'
      native='true'
    )

    html:div
      label(bbt:preference='extensions.zotero.translators.better-bibtex.keyScope', data-l10n-id='better-bibtex_preferences_citekey_uniqueness_scope')
      menulist(native='true', preference='extensions.zotero.translators.better-bibtex.keyScope')
        menupopup
          menuitem(data-l10n-id='better-bibtex_preferences_citekey_uniqueness_scope_global', value='global')
          menuitem(data-l10n-id='better-bibtex_preferences_citekey_uniqueness_scope_library', value='library').

    html:div
      label(
        bbt:preference='extensions.zotero.translators.better-bibtex.keyConflictPolicy'
        data-l10n-id='better-bibtex_preferences_citekey_uniqueness_conflict'
      )
      menulist(native='true', preference='extensions.zotero.translators.better-bibtex.keyConflictPolicy')
        menupopup
          menuitem(data-l10n-id='better-bibtex_preferences_citekey_uniqueness_conflict_change', value='change')
          menuitem(data-l10n-id='better-bibtex_preferences_citekey_uniqueness_conflict_keep', value='keep').

  groupbox.bbt-prefs-subsection
    label
      html:h2(data-l10n-id='better-bibtex_preferences_advanced_ideographs', label)
    checkbox(
      data-l10n-id='better-bibtex_preferences_advanced_ideographs_japanese'
      preference='extensions.zotero.translators.better-bibtex.japanese'
      native='true'
    )
    checkbox(
      data-l10n-id='better-bibtex_preferences_advanced_ideographs_chinese'
      preference='extensions.zotero.translators.better-bibtex.chinese'
      native='true'
    )

    checkbox#bbt-chinese-splitname(
      data-l10n-id='better-bibtex_preferences_advanced_ideographs_splitName'
      preference='extensions.zotero.translators.better-bibtex.chineseSplitName'
      native='true'
    )

  html:div
    label(bbt:preference='extensions.zotero.translators.better-bibtex.warnBulkModify', data-l10n-id='better-bibtex_preferences_bulk-warning')
    html:input(preference='extensions.zotero.translators.better-bibtex.warnBulkModify', size='5', type='text')
