hbox(flex='0')
  label(
    bbt:preference='extensions.zotero.translators.better-bibtex.importCaseProtection'
    data-l10n-id='better-bibtex_preferences_advanced_import_case-protection'
  )
  menulist(native='true', preference='extensions.zotero.translators.better-bibtex.importCaseProtection')
    menupopup
      menuitem(data-l10n-id='better-bibtex_preferences_advanced_import_case-protection_as-needed', value='as-needed')
      menuitem(data-l10n-id='better-bibtex_preferences_advanced_import_case-protection_on', value='on')
      menuitem(data-l10n-id='better-bibtex_preferences_advanced_import_case-protection_off', value='off')

  img(
    src='chrome://zotero-better-bibtex/content/skin/attention.svg'
    style='width:16px;height:16px'
    tooltip='bbt-tooltip-importCaseProtection'
  )

checkbox(
  data-l10n-id='better-bibtex_preferences_citekey_aux-scanner_import'
  native='true'
  preference='extensions.zotero.translators.better-bibtex.auxImport'
)

hbox(flex='0')
  groupbox.bbt-prefs-subsection
    label
      html:h2(
        bbt:preference='extensions.zotero.translators.better-bibtex.importSentenceCase'
        data-l10n-id='better-bibtex_preferences_advanced_import_sentence-case'
      )
        img(src='chrome://zotero-better-bibtex/content/skin/attention.svg', style='width:16px;height:16px', tooltip='bbt-tooltip-importSentenceCase')
    radiogroup(preference='extensions.zotero.translators.better-bibtex.importSentenceCase')
      radio(data-l10n-id='better-bibtex_preferences_advanced_import_sentence-case_on-guess', native='true', value='on+guess')
      radio(data-l10n-id='better-bibtex_preferences_advanced_import_sentence-case_on', native='true', value='on')
      radio(data-l10n-id='better-bibtex_preferences_advanced_import_sentence-case_off', native='true', value='off')

hbox(flex='0')
  groupbox.bbt-prefs-subsection
    label
      html:h2(data-l10n-id='better-bibtex_preferences_advanced_import_migrate')
    button(data-l10n-id='better-bibtex_preferences_advanced_import_export-prefs', oncommand='Zotero.BetterBibTeX.PrefPane.exportPrefs()')
    button(data-l10n-id='better-bibtex_preferences_advanced_import_prefs', oncommand='Zotero.BetterBibTeX.PrefPane.importPrefs()')
